language: perl
perl:
   - 5.19

install:
    - sudo apt-get udate > /dev/null
    - sudo aptitude install -y build-essential python-dev python-pip libxml-dev libxslt1-dev cython
    - pip install cython stix
    - cpanm inc::Module::Build

notifications:
    email:
        on_success: never
        on_failure: always
branches:
    only:
        - master
        - /^release-.*$/
