language: perl
perl:
   - 5.19

install:
    - sudo apt-get update
    - sudo apt-get install -y build-essential python-dev python-pip libxml2-dev libxslt1-dev cython
    - sudo pip install cython stix
    - cpanm Module::Install

notifications:
    email:
        on_success: never
        on_failure: always
branches:
    only:
        - master
        - /^release-.*$/
